@media (min-width: 1200px) {

    .header {
        margin-bottom: 64px;
        background: url(../images/banner-bg.jpg);
    }

    .humburger-menu {
        display: none;
    }

    .logo-mobile {
        display: none;
    }

    .inner-title {
        font-size: 4.5rem;
        line-height: 7.5rem;

        padding: 100px 0 126px 0;
        width: 720px;

    }

    .title-trend {
        font-size: 2rem;
    }

    .container-trend {
        margin-top: 28px;
        margin-bottom: 64px;
    }


    .box-trend {
        width: 25%;
    }

    .main-field {
        gap: 60px;
        margin-left: 15px;
    }

    .main-block {
        gap: 28px;
    }

    .image {
        width: 381px;
    }

    .frame-title {
        font-size: 20px;
        line-height: 24px;

        margin-top: 15px;
    }

    .date-author {
        padding-top: 38px;
        padding-bottom: 56px;
    }

    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }

    .paragraph-second {
        margin-top: 15px;
        font-size: 15px;
        line-height: 22px;
    }

    .aside {
        margin-right: 15px;
    }

    .title-goods {
        margin-top: 64px;
        font-size: 2rem;
    }

    .product-title {
        font-size: 2rem;
    }

    .goods-block {
        gap: 113px;
        margin-left: 15px;
        margin-right: 15px;

        padding-left: 24px;
        padding-right: 24px;
    }

    .popup-container {
        width: 390px;
        min-height: 589px;
    }

    .feedback-title {
        font-size: 20px;
    }

    .popup-field {
        margin: 54px 30px;
    }

    .feedback-text-field {
        min-width: 330px;
        max-width: 330px;
    }
}

@media (min-width: 640px) and (max-width: 1199px) {

    .header {
        margin-bottom: 50px;
        background: url(../images/banner-bg-tablet.jpg);
    }

    .navigation {
        display: none;
    }

    .humburger-menu {
        width: 23px;
        height: 20px;
        margin-right: 14px;
    }

    .logo-mobile {
        display: none;
    }

    .inner-title {
        font-size: 4rem;
        line-height: 5.5rem;

        padding: 100px 0 126px 0;
        width: 720px;

    }

    .title-trend {
        font-size: 1.8rem;
    }

    .container-trend {
        margin-top: 17px;
        margin-bottom: 50px;
    }


    .field-trend {
        flex-wrap: wrap;
    }

    .box-trend {
        width: calc(50% - 8px);
    }

    .trend-title-link {
        font-size: 17px;
    }

    .main-field {
        gap: 40px;
        margin-left: 34px;
    }


    .main-block {
        flex-wrap: wrap;
        gap: 15px;
    }

    .image {
        width: 393px;
    }

    .frame-title {
        font-size: 17px;
        line-height: 22px;

        margin-top: 16px;
    }

    .date-author {
        padding-top: 38px;
        padding-bottom: 35px;
    }

    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }

    .paragraph-second {
        margin-top: 15px;
        font-size: 15px;
        line-height: 22px;
    }

    .aside {
        margin-right: 34px;
    }

    .title-goods {
        margin-top: 50px;
        font-size: 1.8rem;
    }

    .product-title {
        font-size: 1.7rem;
    }

    .goods-block {
        flex-wrap: wrap;
        gap: 68px;

        margin-left: 56px;
    }

    .popup-container {
        width: 390px;
        min-height: 596px;
    }

    .feedback-title {
        font-size: 18px;
    }

    .popup-field {
        margin: 0 30px;
    }

    .feedback-text-field {
        min-width: 330px;
        max-width: 330px;
    }
}



@media (max-width: 639px) {

    .header {
        margin-bottom: 44px;
        background: url(../images/banner-mobile.jpg);
    }

    .navigation {
        display: none;
    }

    .humburger-menu {
        width: 23px;
        height: 20px;
        margin-right: 14px;

    }

    .logo {
        display: none;
    }

    .logo-mobile-block {
        display: flex;
        justify-content: center;

        margin-top: 225px;


    }

    .logo-mobile {
        width: 269px;
    }

    .inner-title {
        font-size: 2.6rem;
        line-height: 3.6rem;

        padding: 45px 32px 217px 32px;

    }

    .title-trend {
        font-size: 1.6rem;
    }

    .container-trend {
        margin-top: 24px;
        margin-bottom: 42px;
    }



    .field-trend {
        flex-wrap: wrap;

    }

    .box-trend {
        width: 100%;
    }

    .trend-title-link {
        font-size: 16px;
    }

    .container-content {
        flex-wrap: wrap;

    }

    .main-field {
        gap: 34px;
    }

    .main-block {
        flex-wrap: wrap;
        gap: 15px;
    }

    .image {
        max-width: 330px;
        margin-left: 15px;
    }


    .frame {
        flex-grow: 1;
        padding: 0 15px;

    }

    .frame-title {
        font-size: 16px;
        line-height: 20px;

        margin-top: 15px;
    }

    .date-author {
        padding-top: 24px;
        padding-bottom: 22px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 20px;
    }

    .paragraph-second {
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
    }

    .aside {
        flex-grow: 1;
        margin: 44px 15px;
    }

    .title-goods {
        font-size: 1.6rem;
    }

    .product-title {
        font-size: 1.7rem;
    }

    .goods-block {
        flex-wrap: wrap;
        gap: 44px;
        padding-left: 35px;
    }

    .popup-container {
        width: 330px;
        min-height: 546px;
    }

    .feedback-title {
        font-size: 16px;
    }

    .popup-field {
        margin: 30px 24px;
    }

    .feedback-text-field {
        min-width: 280px;
        max-width: 280px;
    }

}




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

/*MEDIA*/

html {
    font-size: 10px;
}

body {
    font-family: Open Sans, Arial, sans-serif;
}

/*HEADER*/

.header {
    /* background: url(../images/banner-bg.jpg); */
    background-size: cover;
    background-position: center center;

    position: relative;
    z-index: 1;

    width: 100%;
}

.header::after {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .6);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 28px;
}

.logo {
    width: 179px;
    margin-left: 15px;
    padding-left: 3px;
}

.menu {
    display: flex;

    list-style-type: none;
    font-family: Open Sans;
    font-size: 13px;
    text-transform: uppercase;
    gap: 35px;
    margin-right: 15px;
}

.menu-item:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: #fff;
}

.inner {
    display: flex;
    justify-content: center;
}

.inner-title {


    text-transform: uppercase;
    color: #fff;

    text-align: center;
}

/*ARTICLE trend*/



.title-trend-block {
    display: flex;
    justify-content: center;
}

.title-trend {
    text-transform: uppercase;
    font-weight: bold;
}

.title-trend::after {
    content: "";
    display: block;
    margin: auto;
    width: 67px;
    height: 3px;
    background-color: #e1d9bd;
    opacity: 0.4;
    margin-top: 14px;
}

/* container-trend */

.container-trend {
    display: flex;
    justify-content: center;

    /* border: 4px solid red; */

}

.field-trend {
    display: flex;
    justify-content: center;
    max-width: 1660px;

    gap: 4px;
    /* border: 4px solid green; */
}

.box-trend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;

    min-height: 320px;

    /* border: 2px solid blue; */
}

.box-trend::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .6);
}

.trend-block {
    outline-offset: 34px;
    outline: 4px solid #918155;
    margin-bottom: 51px;
    margin-left: 55px;
    margin-right: 58px;

}

.seedligs {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cheeses {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.mountains {
    background: url(../images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.lemons {
    background: url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.list-trend {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 14px;
}

.trend-topic-link {
    text-decoration: none;
    text-transform: uppercase;

    color: #b59f5b;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: bold;
}

.trend-topic-link:hover {
    outline-offset: 4px;
    outline: 1px solid #b59f5b;
}

.trend-title-text {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;

}

.trend-title-link {
    text-decoration: none;
    color: #ffffff;
}

.trend-title-link:hover {
    color: #b59f5b;
    transition: 0.4s;
}




/*MAIN*/

.container-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    justify-content: space-between;
}


.main-field {
    display: flex;
    flex-direction: column;
}

/*main block*/

.main-block {
    display: flex;
}


.main-image {
    max-width: 100%;
}

.frame {
    width: 380px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    gap: 17px;
}

.category {
    color: #b59f5b;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

.frame-title {
    font-weight: bold;
    text-transform: uppercase;

}

.frame-title-link {
    text-decoration: none;
    color: #0f0d0e;
}

.frame-title-link:hover {
    color: #b59f5b;
    transition: 0.4s;
}



.date {
    font-size: 12px;
    font-family: Open Sans;
    color: #989898;
}

.author {
    font-size: 12px;
    font-family: Open Sans;
    font-weight: bold;

    margin-left: 13px;
}


.paragraph {
    font-family: Open Sans;

}

/*ASIDE BLOCK*/

.aside {
    width: 270px;
}

/*title post*/

.title-post-list {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 14px;
    margin-top: -4px;

    text-transform: uppercase;
    text-align: center;
}

.title-post-list:after {
    content: "";
    display: block;
    margin: auto;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin-top: 14px;
    margin-bottom: 28px;
}

/*post_list*/

.post-list {
    display: flex;
    flex-direction: column;
    gap: 22px;

    margin-bottom: 60px;
}

.post {
    display: flex;
    gap: 19px;
}

.post-image {
    width: 70px;
}

.post-text {
    margin-top: -9px;
}

.post-date {
    font-family: Open Sans;
    font-size: 12px;
    color: #878787;
}

.post-title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;
}

.post-title-link {
    text-decoration: none;
    color: #000000;
}

/*search*/

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;

}

.visual-hidden-field {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visual-hidden-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: recr(0 0 0 0);
    overflow: hidden;
}

.search-field {
    width: 222px;
    height: 48px;
    border: 0;

    font-family: Open Sans;
    font-size: 13px;

    padding: 0 18px;

    background: #f4f7f6;
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.search-button {
    width: 48px;
    height: 48px;
    border: 0;

    background: #b59f5b;
}

.search-button {
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.search-button:hover {
    background-color: #0f0d0e;
    transition: 0.4s;
}

/*mailing title*/

.mailing {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
}

.mailing:after {
    content: "";
    display: block;
    margin: auto;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    opacity: 0.4;
    margin-top: 14px;
    margin-bottom: 23px;
}

/*subscribe*/

.subscribe {
    display: flex;
    flex-direction: column;

    margin-bottom: 61px;
}

.email-field {
    width: 100%;
    height: 48px;
    border: 0;
    padding: 0 18px;
    margin-bottom: 18px;

    font-family: Open Sans;
    font-size: 13px;
    background: #f4f7f6;
}

.email-field:focus {
    outline: 1px solid #b59f5b;
}

.visual-hidden-email {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button-subscribe {
    width: 100%;
    min-height: 48px;
    border: 0;

    background: #b59f5b;
    cursor: pointer;

    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    color: #ffffff;
}

.button-subscribe:hover {
    background: #0f0d0e;
    transition: 0.4s;
}

.visual-hidden-subscribe {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*tags title*/

.tags-title {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    text-transform: uppercase;
}

.tags-title:after {
    content: "";
    display: block;
    margin: auto;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    opacity: 0.4;

    margin-top: 14px;
    margin-bottom: 24px;
}

/*tags items*/

.tags-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 61px;

    list-style-type: none;

    font-size: 12px;
    font-family: Open Sans;
    font-weight: bold;
    text-transform: uppercase;
}

.tags-items {
    border: 3px solid #eeeeee;
    cursor: pointer;
}

.tags-items:hover {
    border: 3px solid #b59f5b;
    transition: 0.4s;
}


.item-fashion {
    padding: 8px 14px 6px 13px;
}

.item-music {
    padding: 7px 16px 7px 15px;
}

.item-lifestyle {
    padding: 7px 13px 7px 13px;
}

.item-art {
    padding: 7px 15px 7px 14px;
}

.item-interior {
    padding: 7px 10px 7px 11px;
}

.item-travel {
    padding: 8px 13px 6px 13px;
}

.item-food {
    padding: 8px 12px 6px 13px;
}

.item-health {
    padding: 7px 11px 7px 13px;
}

.tags-link {
    text-decoration: none;
    text-align: center;
    color: #0f0d0e;
}

/*title themes*/

.title-themes {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
}

.title-themes:after {
    content: "";
    display: block;
    margin: auto;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    opacity: 0.4;

    margin-top: 14px;
    margin-bottom: 24px;
}

/*themes*/

.chapter-themes {
    list-style-type: none;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
}

.chapter:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eeeeee;

    margin-top: 18px;
    margin-bottom: 18px;
}

.chapter-link {
    text-decoration: none;
    color: #000000;
}

.chapter-link:hover {
    color: #b59f5b;
    transition: 0.4s;
}

.index {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-left: 4px;
    margin-top: 2px;
}


/*ARTICLE goods*/

/*title goods*/

.title-goods-block {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.title-goods {
    font-weight: bold;
    font-family: Open Sans;

    text-transform: uppercase;
}

.title-goods::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 67px;
    height: 3px;
    background-color: #e1d9bd;
    opacity: 0.4;

    margin-top: 14px;
    margin-bottom: 28px;
}

/*container goods*/

.container-goods {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    /* border: 2px solid green; */
}

.goods-block {
    display: flex;

    /* border: 2px solid red; */
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    max-width: 300px;

    /* border: 2px solid blue; */
}



.product-description {
    outline-offset: 20px;
    outline: 3px solid #d3c59d;

    margin-top: -40px;

}


.product-title {
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: bold;

    margin-bottom: 5px;
    margin-top: 40px;
}

.product-text {
    display: block;

    font-size: 15px;
    font-family: Open Sans;
    line-height: 22px;
}

.product-link {
    text-decoration: none;
    color: #b59f5b;
}

.price-block {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.price-block-doll {
    margin-bottom: 43px;
}

.price-block-frame {
    margin-bottom: 43px;
}

.price1 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    font-family: Open Sans;
}

.price2 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: Open Sans;
}

.price-doll {
    padding-top: 20px;
}

.product-button {
    width: 140px;
    min-height: 48px;

    background-color: #b59f5b;
    border: none;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}



/*FOOTER*/

.container3 {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 64px;

    justify-content: center;
    align-items: center;

    background: #f4f7f6;
}

.social-icons {
    display: flex;
    list-style-type: none;
    gap: 28px;

    background: #f4f7f6;
    padding-top: 31px;
    padding-bottom: 31px;
}

.mark {
    display: block;
    width: 25px;
    height: 21px;

}

.visual-hidden-icons {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-icon-twitter {
    background-image: url(../svg/004-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon-pinterest {
    background-image: url(../svg/001-pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.social-icon-instagram {
    background-image: url(../svg/005-instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon-tumbrl {
    background-image: url(../svg/003-tumblr.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*copyright*/

.container4 {
    display: flex;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 40px;

    justify-content: center;
    align-items: center;
}

.copyright-title {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-decoration: none;
}


/*POPUP */

.visual {
    display: none;
}


.popup {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: rgba(0, 0, 0, .5);
}


.popup-container {
    position: relative;
    z-index: 2;
    margin: auto 0;

    background: white;
}

.close-popup {
    position: absolute;
    top: -34px;
    right: 0;

    width: 28px;
    height: 28px;
    background: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border: none;

}

.feedback-title {
    text-align: center;
    text-transform: uppercase;

    margin: 24px 0 15px 0;
}

.feedback-title::after {
    content: "";
    display: block;
    margin: auto;
    width: 66px;
    height: 3px;

    background: #d3c59d;
    opacity: .4;

    margin-top: 15px;
}


.question {
    display: block;
    font-size: 13px;
}

.select-field {
    width: 100%;
    height: 48px;


    color: #989898;


    -webkit-appearance: none;
    -moz-appearance: none;

    background: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    border: none;
    cursor: pointer;

    margin: 12px 0 37px 0;
    padding-left: 14px;
}

.select-field:focus {
    outline: 1px solid #c8a441;
}

.radio-block {
    margin-top: 20px;
    margin-bottom: 44px;
    margin-right: 20px;
}

.radio-label {
    display: inline-block;
    cursor: pointer;
}

.radio-text {
    margin-right: 20px;
    font-size: 13px;
}

.radio-input:checked {
    outline: 1px solid green;
    outline-offset: 5px;
}

.radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;
    margin-right: 8px;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio-input:checked~.radio-text::before {
    background-image: url(../svg/form-circle.svg);
}

.radio-input {
    position: absolute;
    display: none;
}

.feedback-text-field {

    min-height: 131px;
    max-height: 131px;

    background: #f4f7f6;
    border: none;

    margin-top: 15px;
    padding-top: 14px;
    padding-left: 14px;

}

.feedback-text-field:focus {
    outline: 1px solid #c8a441
}


.feedback-button {
    width: 100%;
    height: 40px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background: #b59f5b;
    border: none;
    cursor: pointer;

    margin-top: 25px;

}

.feedback-button:hover {
    background: black;
    color: #ffffff;
    transition: .5s;
}